
.layout {
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form {
  width: 50%;
  margin: auto;  
  display: flex;
  position: relative;
} 

.title {
  position: absolute;
  top: 50px;
  color: white !important;
}

.input {
  border-radius: 25px;
  margin-right: 10px;
}

.label {
  position: absolute;
  color: green;
  z-index: 100 ;
  background-color: transparent;
  font-weight: bolder;
  font-size: 1.2rem;
  text-align: center;
  top: -27px;
  left: 5px
}

.btn {
  color: green;
  font-weight: bolder;
  border-radius:  25px;
}

