
.layout {
  background-color: #d11406;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form {
  width: 50%;
  margin: auto;  
  display: flex;
} 

.title {
  position: absolute;
  top: 50px;
  color: white !important;
}